.container {
  display: flex;
  align-items: center;

  .slider {
    @media (max-width: 966px) {
      margin-left: 9px;
    }
  }

  .btn {
    margin-left: 10px;
    padding: 0px;

    .item {
      margin-left: 10px;
      color: white;

      &:hover {
        color: red;
      }
    }
  }
}