@import "../../styles/mixins";
@import "src/common/styles/variables";

.container {

  .btnSmall {

  }

  .btnDelete {
    outline: none;
    border: none;
    background: none;
    transition: 0.5s;
    margin: 0 5px 0 5px;

    &:hover {
      transform: translateY(-4px);
    }
  }

  .btnPack {
    position: absolute;
    @include width-height(184px, 36px);
    @include font(normal, 500, 16px, 20px);
    right: 136px;
    top: 84px;
    border: none;
    outline: none;
    letter-spacing: 0.01em;
    color: $textWhiteColor;
    box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
    inset rgba(252, 255, 255, .7) 0 3px 8px,
    rgba(0, 0, 0, .8) 0 3px 8px -3px;
    background: $primaryColor;
    border-radius: 30px;
    transition: 0.4s;
    @media (max-width: 900px) {
      right: 20px;
    }
    @media (max-width: 677px) {
      position: static;
      margin-bottom: 5px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35);

    }
  }
}

.header {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 19px 24px 3px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .close {
    border: none;
    width: 14px;
    height: 14px;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity ease 0.5s;

    &:hover {
      opacity: 1;
    }
  }
}

