@import "../../../common/styles/mixins.scss";
@import "../../../common/styles/variables";

.container {
  display: flex;
  align-items: center;

  .nickName {
    font-family: $titleFontFamily;
    margin-right: 10px;
    border-bottom: 2px dashed white;
    color: white;

    &:hover {
      cursor: pointer;
      color: #366efe;
    }
  }

  .avatar {
    @include backgroundImg(cover, no-repeat, center);
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 1);
  }
}
