@mixin media($maxWidth) {
  @media screen and (max-width: $maxWidth) {
    @content
  }
}

@mixin font($style, $weight, $size, $height,$fontFamily: "Montserrat") {
  font-family: $fontFamily;
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin backgroundImg($size, $repeat, $position) {
  background-size: $size;
  background-repeat: $repeat;
  background-position: $position;
}

@mixin backgroundStyle {
  background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%), linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em, radial-gradient(at 50% 0, #484847, #090909);
  background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;
  @include backgroundImg(cover, no-repeat, center);
}