@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-Regular.eot');
  src: url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Montserrat-Regular.woff') format('woff'),
  url('./fonts/Montserrat-Regular.ttf') format('truetype'),
  url('./fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foo';
  src: url('./fonts/Foo-Regular.eot');
  src: url('./fonts/Foo-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Foo-Regular.woff') format('woff'),
  url('./fonts/Foo-Regular.ttf') format('truetype'),
  url('./fonts/Foo-Regular.svg#Foo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Airborne';
  src: url('./fonts/Airborne.eot');
  src: url('./fonts/Airborne.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Airborne.woff') format('woff'),
  url('./fonts/Airborne.ttf') format('truetype'),
  url('./fonts/Airborne.svg#Airborne') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$primaryColor: #5280f1;
$textWhiteColor: white;
$redColor: #d81746;
$yellowColor: #ffc107;
$titleFontFamily: "Airborne", sans-serif;
$baseFont: "Montserrat", sans-serif;
$mono: "JetBrains Mono", monospace;