@import "src/common/styles/variables";
@import "src/common/styles/mixins";

.container {
  box-sizing: border-box;
  width: 196px;
  height: 36px;
  display: flex;
  flex-direction: row;

  .item {
    box-sizing: border-box;
    width: 98px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  .firstItem {
    border: 1px solid #D9D9D9;
    border-radius: 2px 0 0 2px;
    background-color: #acacac;

    &:hover {
      border: 2px solid black;
    }
  }

  .activeFirstItem {
    background-color: $greenColor;
    border-radius: 2px 0 0 2px;
    border: 1px solid $textWhiteColor;
    color: $textWhiteColor;
  }

  .secondItem {
    border: 1px solid #D9D9D9;
    border-radius: 0 2px 2px 0;
    background-color: #acacac;

    &:hover {
      border: 2px solid black;
    }
  }

  .activeSecondItem {
    background-color: $greenColor;
    border-radius: 0 2px 2px 0;
    border: 1px solid $textWhiteColor;
    color: $textWhiteColor;
  }
}