@import "../../../styles/mixins";
@import "../../../styles/variables";

@mixin buttonStyle($background) {
  color: #000000;
  opacity: 0.8;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  transition: 0.4s;
  background: $background;
}

.buttonBlock {
  display: flex;
  padding: 35px 24px 0 24px;
  justify-content: space-between;

  .defaultBtn {
    @include width-height(127px, 36px);
    @include font(normal, 500, 16px, 20px);
    color: white;
    background: #366EFF;
    border: none;
    box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
    inset rgba(252, 255, 255, .7) 0 3px 8px,
    rgba(0, 0, 0, .8) 0 3px 8px -3px;
    border-radius: 30px;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 0 #366EFF inset, 0 0 10px 4px #366EFF;
    }
  }

  .deleteBtn {
    @include width-height(127px, 36px);
    @include font(normal, 500, 16px, 20px);
    box-shadow: inset rgba(0, 0, 0, .6) 0 -3px 8px,
    inset rgba(252, 255, 255, .7) 0 3px 8px,
    rgba(0, 0, 0, .8) 0 3px 8px -3px;
    color: white;
    background: #ff0000;
    border-radius: 30px;;
    border: none;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 0 #ff3647 inset, 0 0 10px 4px #ff3636;
    }
  }
}
