@import "../../styles/mixins";
@import "../../styles/variables";

.block {
  @include font(normal, 400, 16px, 27px);
  margin: 0;
  color: $textWhiteColor;

  .name {
    margin-bottom: 10px;

    span {
      @include font(normal, 500, 16px, 17px);
    }
  }
}