@import "src/common/styles/variables";

.container {
  display: flex;
  background: linear-gradient(to right top, rgb(200, 48, 95) 50%, rgb(254, 108, 95) 100%);
  flex-direction: column;
  min-height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgb(230, 214, 219);
  z-index: 9999;

  .blockLink {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    padding-right: 136px;
    align-items: center;
    @media (max-width: 768px) {
      padding-right: 40px;
    }

    .linkNavBar {
      color: black;
      font-size: 10px;
    }
  }
}


