@import "src/common/styles/mixins";
@import "src/common/styles/variables";

.btn {
  @include font(normal, 600, 22px, 27px);
  box-sizing: border-box;
  z-index: 1;
  font-weight: 500;
  min-width: 120px;
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
  line-height: 1;
  height: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  &:hover, &:focus {
    color: white;
    outline: 0;
  }
}

.buttonDef {
  color: white;
  box-shadow: 0 0 40px 40px $primaryColor inset, 0 0 0 0 $primaryColor,;

  &:hover {
    box-shadow: 0 0 10px 0 $primaryColor inset, 0 0 10px 4px $primaryColor;
    background-color: $primaryColor;
  }
}

.red {
  border-color: red;
  color: white;
  box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;

  &:hover {
    color: green;
    box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
  }
}

