@import "../../../../common/styles/mixins";

.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .rating {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row {
    @include font(normal, 400, 13px, 27px);
    color: #0028f3;
  }

  .imgRow {
    @include width-height(170px, 50px);
    @include backgroundImg(cover, no-repeat, center);
  }
}