@import "src/common/styles/mixins";
@import "src/common/styles/variables";

.headerCell {
  @include font(normal, 400, 16px, 27px);
  color: white !important;
  background: $primaryColor !important;
}

.filterRow {
  &:hover {
    cursor: pointer;
  }
}
