@import "src/common/styles/mixins";
@import "src/common/styles/variables";

.row {
  display: flex;

  .headerCell {
    color: black;
    background-color: rgb(36, 188, 255);
    @include font(normal, 400, 16px, 27px);
  }
}